body { font-size:12px; font-family:verdana; }
#page { width:600px; margin-left:auto; margin-right:auto; margin-top:20px; }
p { text-align:justify; }
h1 { font-size:200%; font-weight:bolder; margin-bottom:10px; border-bottom:2px solid #FF6303; color:#FF6303; }

a { color:#FF6303; text-decoration:none; }
a:hover { text-decoration:underline; }




/* ## forms ## */
input[type="text"] { width: 150px font-size:12px; font-family:verdana; border:1px solid #000000; }
input[type="password"] { width: 150px font-size:12px; font-family:verdana; border:1px solid #000000; }
input[type="submit"] { padding:5px 35px; }
.form { margin:10px; }
.form .row { display:table-row; }
.form .form-error { padding-left:10px; color:#FF0000; display:inline; font-style:italic; }
.form .form-cell { height:25px; vertical-align:middle; display:table-cell; }
.form .form-cell.form-label { width:100px; }
.form .form-cell .form-label { width:100px; }
.form .form-buttons { padding:5px; }

/* ## forms end ## */


/* ## common box ## */
.notice { width:50%; padding:15px; background-color:#FFE72E; border:1px solid #FF6303; }
/* ## common box end ## */
